.promo{
  padding: 30px 0 100px;
}

.promo__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content{
  padding-right: 65px;
}

.promo__title{
  margin: 0 0 3rem;
}

.promo__text{
  @extend %font-add;
  @include font($size:1.8rem, $height: 2.8rem, $weight: normal);
  max-width: 487px;
  margin: 0 0 4.5rem;
}


.promo_buttons{
  & > button {
    margin-right: 44px;
  }
}
