.strategies{
  padding: 30px 0;

  @include media-tablet{
    text-align: center;
  }
}
.strategies__title{
  margin: 0 0 14px;
}

.strategies__text{
  margin: 0 0 24px;
}

.strategy{
  cursor: pointer;
  @include media-tablet{
    overflow: hidden;
  }

}

.strategy-wrapper{
  >*{
    margin-bottom: 30px;

    @include media-tablet{
      width: 48%;
      flex-basis: 48%;
    }

    @include media-mobile{
    flex-basis: 100%;
    }
  }
}


.strategy__content{
  padding: 24px 33px 26px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.strategy__title{
  margin: 0 0 29px;
  text-align: left;
  flex-grow: 1;
  text-overflow: ellipsis;
}

.strategies__tags{
  margin-bottom: 31px;

  @include media-tablet{
    justify-content: center;
  }
}
