.header{
  background-color: $color-light;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet{
    padding-left: 24px;
  }
}

.header__logo-line  {
  display: flex;
  align-items: center;
  //@include media-mobile {
  //  justify-content: center;
  //  flex-grow: 1;
  //  position: relative;
  //}
}

.logo{
  display: flex;
}

.logo-object{
  width: 160px;
}

.header__buttons{
  & > button{
    margin-left: 14px;
  }

  .button:first-child{
    margin-left: 0;
  }

  @include media-mobile{
    display: none;
  }
}
